:root{
--font-name:'Roboto';
--underline-color:#2196F3;
--plug-color:#2F303A;
--background-first:#FFFFFF;
--background-second:#F5F4FA;
--background-third:#FFFFFF;
--background-header:#FFFFFF;
--primary-text-color:#212121;
--frame-color:#2196F3;
--button-background:#2196F3;
--background-portfolio:#FFFFFF;
--primary-white-color:#FFFFFF;	
}

body {
font-family: 'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--primary-white-color);
 
}
.container{
width:1200px;
padding-left:15px;
padding-right:15px;
}
.section{
padding-top:94px;
padding-bottom:94px;
}
.upper-index-html{
display:flex;

width:1600px;

background:var(--background-header);	
}
.upper-portfolio-html{
display:flex;
width:1600px;	
background:var(--background-header);	
}
.main{
display:flex;
flex-direction:column;

}
.main:hover{
border:1px solid #ECECEC;
}
.plug{

display:flex;
display:block;
width: 1600px;
padding-top:200px;
padding-bottom:200px;

background: #2F303A;

}
.upper-index-html:hover{
border:1px solid #ECECEC;
} 
.studio-link{
color:#212121;
}
.navigate{
display:flex;
}


.logo{
text-decoration:none;
list-style:none;
display:flex;

width: 145px;
height: 31px;
padding-left: 215px;
padding-top: 24px;
margin-bottom:5px;	
}
.logo-part-first{

color:#2196F3; 

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height:1.2;

/* identical to box height */

letter-spacing: 0.03em;
}
.logo-part-second{

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height:1.2;
color: #000000; 
	
}


.pages{
list-style:none;
display:flex;
}
.page-first-link{

display:flex;

width:45px;
height:16px;
padding-top:24px;
padding-bottom:24px;
margin-left:93px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration:none;

}

.page-second-link{

display:flex;
width: 72px;
height: 16px;
margin-left: 50px;
padding-top: 24px;
padding-bottom:24px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;

}

.portfolio-link-web{
color:#212121;
}
.portfolio-link{
color:#2196F3;
}


.page-third-link{
display:flex;
width: 64px;
height: 16px;
margin-left: 50px;
padding-top: 24px;
padding-bottom:24px;

text-decoration:none;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;

}


.contacts{
list-style:none;

display:flex;
padding-top:24px;
margin-left:318px;
gap:30px;
}
.contacts.contact-first-link{
display:flex;
width: 135px;
height: 16px;

margin-top: 24px;
margin-bottom:24px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;

}
.contact-first-link{

color: #757575;
}
.contact-second-link{

color: #757575;
}

.contacts.contact-second-link{

display:flex;

width: 122px;
height: 16px;
margin-left: 10px;
margin-top:24px;
margin-bottom:24px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;

}

.phone-color{
color: #757575;	
}
.plug>.title-first{

display:flex;
width: 696px;
height: 120px;
padding-left: 452px;
padding-top: 0px;
padding-bottom: 0px;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
background-color:transparent;
color: #FFFFFF;
}


.btn{

display:flex;

width: 216px;
height: 50px;
margin-left: 692px;
margin-top: 30px;
padding-top:15px;
padding-left:52px;

border:0px;
cursor:pointer;
color:#FFFFFF;
background: var(--button-background);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color:#2196F3;
}
.btn:hover{
	background:#000000;

}
.btn:focus{
	background:#000000;

}

.part-first{
display:flex;
display:block;
width:1600px;

background: var(--background-first);

}
.descriptions{
display:flex;
list-style:none;
text-decoration:none;

}


.visually-hidden{
display:flex;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.description-first{
display:flex;
display:block;
}
.description-first>.title-content-first{
display:flex;
width: 270px;
height: 16px;
padding-left:215px;

padding-top:30px;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;

}


.description-second>.title-content-second{
display:flex;
width: 270px;
height: 16px;
margin-left: 30px;

padding-top:30px;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;

}


.description-third>.title-content-third{
display:flex;

width: 270px;
height: 16px;
margin-left: 30px;

padding-top:30px;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;

border-width:0px;
}

.description-forth{
	display:flex;
	display:block;
	
}
.description-forth>.title-content-forth{
display:flex;
width: 270px;
height: 16px;
margin-left: 30px;
padding-top:30px;
text-decoration:none;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
border:0px;	
}

.content-first{
display:flex;
width: 270px;
height: 72px;
padding-left: 215px;

padding-top:10px;
text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;


}

.content-second{
display:flex;

width: 270px;
height: 48px;
margin-left: 30px;

padding-top:10px;
text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
border-width:0px;	
}

.content-third{
display:flex;

width: 270px;
height: 48px;
margin-left: 30px;

padding-top:10px;
text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;


border-width:0px;	
}


.content-forth{
display:flex;
width: 270px;
height: 72px;
margin-left: 30px;

padding-top:10px;
text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

border-width:0px;	
}
.title-seconf{
display:flex;

}

.title-content{
display:flex;
width: 400px;
height: 42px;
padding-left: 617px;

margin-top:118px;

text-decoration:none;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;

border-width:0px;		
}
.photos{
	list-style:none;
	display:flex;
}
.part-second{
display:flex;
display:block;
width:1600px;
background:var(--background-second);
}
.part-second:hover{
border: 4px solid var(--underline-color);
}
.picture-first{
width: 370px;
height: 294px;
padding-left: 215px;

margin-top:50px;
display:flex;

background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}
.picture-second{
width: 370px;
height: 294px;
margin-left: 30px;

margin-top:50px;
display:flex;
background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.picture-third{
display:flex;
width: 370px;
height: 294px;
margin-left: 30px;

margin-top:50px;

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);	
}

.image-third:focus{
 outline:4px solid var(--frame-color);
}
.title-third{
display:flex;

}



.title-command{
display:flex;
width: 300px;
height: 42px;
padding-left: 668px;

font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;

}
.command{
display:flex;
list-style:none;
gap:30px;
}

.command>.designer{
display:flex;

width: 260px;
height: 428px;
padding-left: 215px;
margin-top:50px;
border-radius: 0px;

}
.igor{
display:flex;
display:block;
background:#FFFFFF;
padding-bottom:30px;	
}
.demyanenko{
color: #212121;

}
.repina{
color: #212121;

}
.tarasov{
color: #212121;

}
.yermakov{
color: #212121;

}
.designer-link{
text-decoration:none;

}
.developer-link{
text-decoration:none;
}
.marketing-link{
text-decoration:none;
}
.uidesigner-link{
text-decoration:none;
}
.designer{
text-align:center;
}
.designer-igor{
color: #757575;

}
.developer{
text-align:center;
}
.developer-olga{
color: #757575;

}
.marketing{
text-align:center;
}
.marketing-mykola{
color: #757575;

}
.uidesigner{
text-align:center;
}
.uidesigner-mykhailo{
color: #757575;

}
.picture-demyanenko:hover{
border: 4px solid var(--underline-color);

}

.picture-olga:hover{
border: 4px solid var(--underline-color);

}

.picture-mykola:hover{
border: 4px solid var(--underline-color);
}

.picture-mykhailo:hover{
border: 4px solid var(--underline-color);
}


.command>.developer{
display:flex;
width: 260px;
height: 428px;

margin-top:50px;
border-radius: 0px;

}
.olga{
display:flex;
display:block;
background:#FFFFFF;
padding-bottom:30px;	
}
.command>.marketing{
display:flex;
width: 260px;
height: 428px;

color: #212121;
margin-top:50px;
border-radius: 0px;

}
.mykola{
display:flex;
display:block;	
background:#FFFFFF;	
padding-bottom:30px;	
}
.command>.uidesigner{

display:flex;
width: 288px;
height: 428px;

margin-top:50px;
border-radius: 0px;

}
.mykhailo{
display:flex;
display:block;
background:#FFFFFF;	
padding-bottom:30px;	
}
.text{
border:1px solid #EEEEEE;
}
.buttons{
list-style:none;
display:flex;
}

.btn0{
display:flex;;
cursor:pointer;
width: 73px;
height: 38px;
margin-left: 512px;
padding-left:23px;
padding-top:6px;
background: #2196F3;

font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;
border:0px;
}
.btn1{
display:flex;
cursor:pointer;
width: 120px;
height: 26px;
margin-left: 8px;

font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: #F5F4FA;
text-align: center;
letter-spacing: 0.03em;

border:0px;

}
.btn2{
display:flex;
cursor:pointer;
width: 100px;
height: 26px;
margin-left: 8px;

font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: #F5F4FA;
text-align: center;
letter-spacing: 0.03em;

border:0px;
}
.btn3{
display:flex;
cursor:pointer;
width: 100px;
height: 26px;
margin-left: 8px;

background: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;
border:0px;
}
.btn4{
display:flex;
cursor:pointer;
width: 130px;
height: 26px;
margin-left: 8px;

font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: #F5F4FA;
text-align: center;
letter-spacing: 0.03em;

border-radius: 4px;	
border:0px;	
}

.btn1:hover{
background: #2196F3;
 
}
.btn1:focus{
background: #2196F3;
 
}
.btn2:hover{
background: #2196F3;
 }
.btn2:focus{
background: #2196F3;
 }
.btn3:hover{
background: #2196F3;
 
}
.btn3:focus{
background: #2196F3;
 
}
.btn4:hover{
background: #2196F3;
 
}
.btn4:focus{
background: #2196F3;
 
}
.posters{
display:flex;
list-style:none;
gap:30px;
width:1600px;
}

.posters>.post-one{
display:flex;
width: 370px;
height: 294px;
padding-left: 215px;
margin-top:50px;
}

.posters>.post-second{
display:flex;
width: 370px;
height: 294px;
margin-top:50px;
}

.posters>.post-third{
display:flex;
width: 370px;
height: 294px;
margin-top:50px;

}
.poster-one{
display:flex;
display:block;
margin-right:-20px;	
}
.poster-two{
display:flex;
display:block;
margin-right:-20px;

}
.poster-three{
display:flex;
display:block;
margin-right:-20px;
	
}

.picture-one:hover{
border: 4px solid var(--underline-color);
}
.technocryak{
	color: #212121
}
.website{
color: #757575;

}
.orlean{
color: #212121;
}
.design{
color: #757575;

}
.seafood{
color: #212121;

}
.application{
color: #757575;

}
.prime{
color: #212121;

}
.market{
color: #757575;

}
.boxes{
color: #212121;
}
.supplement{
color: #757575;

}
.inspiration{
color: #212121;
}
.web{
color: #757575;

}
.limited{
color: #212121;
}
.picture{
color: #757575;

}
.lab{
color: #212121;
}
.trade{
color: #757575;

}
.business{
color: #212121;
}
.addition{
color: #757575;

}

.projects{
display:flex;
list-style:none;
gap:30px;
width:1600px;

}
.projects>.project-first{
display:flex;
width: 370px;
height: 294px;
padding-left: 215px;
margin-top:140px;
}

.projects>.project-second{
display:flex;
width: 370px;
height: 294px;
margin-top:140px;
}

.projects>.project-third{
display:flex;
width: 370px;
height: 294px;
margin-top:140px;
}
.project-one{
display:flex;
display:block;
margin-right:-20px;
}
.project-two{
display:flex;
display:block;
margin-right:-20px;
}
.project-three{
display:flex;
display:block;
margin-right:-20px;
}

.picture-one:hover{
border: 4px solid var(--underline-color);
 
}
.picture-two:hover{
border: 4px solid var(--underline-color);

}
.picture-three:hover{
border: 4px solid var(--underline-color);
 
}

.project-picture-one:hover{
border: 4px solid var(--underline-color);
 
}
.project-picture-two:hover{
border: 4px solid var(--underline-color);
 
}
.project-picture-three:hover{
border: 4px solid var(--underline-color);
 
}

.editions{
display:flex;
list-style:none;

gap:30px;

width:1600px;
padding-bottom:94px;
}
.editions>.edition-first{
display:flex;
width: 370px;
height: 294px;
padding-left: 215px;
margin-top: 140px;
}

.editions>.edition-second{
display:flex;
width: 370px;
height: 294px;
margin-top: 140px;
}

.editions>.edition-third{
display:flex;
width: 370px;
height: 294px;
margin-top: 140px;
}
.edition-one{
display:flex;
display:block;
margin-right:-20px;
	
}
.edition-two{
display:flex;
display:block;
margin-right:-20px;
	
}
.edition-three{
display:flex;
display:block;
margin-right:-20px;
	
}

.edition-picture-one:hover{
border: 4px solid var(--underline-color);
 
}
.edition-picture-two:hover{
border: 4px solid var(--underline-color);
 
}
.edition-picture-three:hover{
border: 4px solid var(--underline-color);

}
.foot-first{

display:flex;

width: 1600px;
 
background: #2F303A;
}
.section-one{
display:flex;
flex-direction:column;	
}

.details-address{
display:flex;
padding-left:180px;
margin-top:20px;
padding-bottom:60px;
}


.logo-same{
display:flex;

width: 231px;
height: 31px;
padding-left: 215px;
	
text-decoration:none;
padding-top:60px;

}

.contacts-same{
list-style:none;

}
.logo-same-part-first{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;

}
.logo-same-part-second{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;

}

.address-link{
display:flex;

width: 231px;
height: 21px;
text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing:0.03em;
color: #FFFFFF;

}
.address-selection{
color: #FFFFFF;
font-style:normal;
}


.mail-link{
display:flex;

width: 231px;
height: 21px;

text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-top:9px;

}


.phone-link{
display:flex;

width: 231px;
height: 21px;

text-decoration:none;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-top:9px;	
}



.foot-second{

display:flex;

width: 1600px;
 
background: #2F303A;
}

