:root{
--selection-color:#2196F3;
--plug-color:#2F303A;
--background-first:#FFFFFF;
--background-second:#F5F4FA;
--background-third:#FFFFFF;
--background-header:#FFFFFF;
--primary-text-color:#212121;
--secondary-text-color:#757575;
--background-third-color:#757575;
--portfolio-background:#FFFFFF;
--frame-color:#2196F3;
--button-background:#2196F3;
--button-background-second:#F5F4FA;
--primary-white-color:#FFFFFF;
--third-text-color:#FFFFFF;
--border-color:#ECECEC;
--logo-part-color:#000000;
--footer-background:#2F303A;
--text-border-color:#EEEEEE;
--card-border-color:#EEEEEE;
--card-background-color:#FFFFFF;
--backdrop-background-color:#FFFFFF;
--contacts-footer-background:rgba(255, 255, 255, 0.6);
--overlay-color:rgba(47, 48, 58, 0.8);
}

body {
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: var(--primary-text-color);
background: var(--primary-white-color);

}

.container{
width:1200px;
padding-right:380px;
}
.section{
padding-top:94px;
padding-bottom:94px;
}
.header-index{
display:flex;
background:var(--background-header);

}
.header-portfolio{
display:flex;
background:var(--background-header);
	
}
.main{
display:flex;
background: var(--portfolio-background);
flex-direction:column;
border-top:1px solid var(--border-color);
}

.plug{
display:flex;
display:block;
padding-top:200px;
padding-bottom:200px;
padding-left:200px;
padding-right:200px;
background: var(--plug-color);
border-top:1px solid var(--border-color);
}


.navigate{
display:flex;
}



.logo{
text-decoration:none;
list-style:none;
display:flex;
padding:0px;
margin-left: 215px;
margin-top: 26px;
margin-bottom:25px;
}
.logo-part-first{
color:var(--selection-color); 
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height:1.2;
/* identical to box height */
letter-spacing: 0.03em;
}
.logo-part-second{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
line-height:1.2;
color: var(--logo-part-color); 
}
.logo:focus{
outline: 1px solid var(--selection-color);
}

.pages{
list-style:none;
display:flex;
}

.page-first-link-portfplio{
display:flex;
margin-top:24px;
margin-bottom:-13px;
padding:0px;
margin-left:29px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;
}
.page-first-link-portfplio:hover{
color:var(--selection-color);
}
.page-first-link-portfplio:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.page-first-link{
display:flex;
margin-top:14px;
margin-bottom:16px;
padding:10px;
margin-left:29px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration:none;
}
.page-first-link:hover{
color:var(--selection-color);
}
.page-first-link:focus{
outline: 1px solid var(--selection-color);
}
.page-second-link{
display:flex;
margin-left: 50px;
margin-top: 24px;
margin-bottom:24px;
padding:0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;
}
.page-second-link:hover{
color:var(--selection-color);
}

.page-second-link-portfolio{
display:flex;
margin-left: 50px;
margin-top: 14px;
margin-bottom:20px;
padding:10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;
}

.portfolio-link{
color:var(--primary-texy-color);
}
.portfolio-link:hover{
color:var(--selection-color);
}
.portfolio-link:focuse{
color:var(--selection-color);
outline:1px solid var(--selection-color);
}
.portfolio-link-web:hover{
color:var(--selection-color);
}
.page-second-link-portfolio:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.page-second-link:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.page-third-link{
display:flex;
margin-left: 50px;
margin-top: 24px;
padding:0px;
text-decoration:none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
}
.page-third-link:hover{
color:var(--selection-color);
}
.page-third-link:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.contacts{
display:flex;
list-style:none;
display:flex;
padding-top:24px;
margin-left:242px;
gap:30px;
}

.contact-first-link-portfolio{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
text-decoration:none;
display:flex;
margin-left:10px;
margin-top:4px;
margin-bottom:-20px;
}

.contact-first-link{
display:flex;
margin-left:10px;
margin-top:4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color:var(--secondary-text-color);
text-decoration:none;
}
.contact-first-link:hover{
color:var(--selection-color);
}
.contact-first-link:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.contact-first-link-portfolio:hover{
color:var(--selection-color);
}

.contact-first-link-portfolio:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}

.contact-second-link{
display:flex;
margin-left:20px;
margin-top:4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;
color: var(--secondary-text-color);
}
.contact-second-link:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}

.studio-link:hover{
color:var(--selection-color);
}
.studio-link:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.phone-color{
color: var(--secondary-text-color);
}
.phone-color:hover{
color:var(--selection-color);
}
.phone-color:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.plug>.title-first{
display:flex;
padding-left: 252px;
padding-right: 252px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
background-color:transparent;
color: var(--third-text-color);
}


.btn{
display:flex;
margin-left: 492px;
margin-right:492px;
margin-top: 30px;
padding-top:15px;
padding-left:47px;
padding-right:47px;
padding-bottom:15px;
border:0px;
cursor:pointer;
color:var(--third-text-color);
background: var(--button-background);
box-shadow: 0px 4px 4px 0px #000000 15%;
border-radius: 4px;
border-color:var(--button-background);
font-weight:700;
}


.part-first{
display:flex;
display:block;
background: var(--background-first);
}
.descriptions{
display:flex;
list-style:none;
text-decoration:none;
margin-right:-185px;
margin-top:-50px;
margin-left:150px;
gap:30px;
}

.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.description-first>.title-content-first{
display:flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.description-second>.title-content-second{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.description-third>.title-content-third{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.title-content-forth{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.content-first{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.content-second{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.content-third{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.content-forth{
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.title-content{
display:flex;
padding-left: 617px;
margin-top:118px;
text-decoration:none;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
border-width:0px;		
}
.photos{
list-style:none;
display:flex;
}
.part-second{
display:flex;
display:block;
padding-right:390px;
background:var(--background-second);
}

.picture-first{
padding-left: 215px;
margin-top:50px;
padding-left:175px;
display:flex;
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
}

.picture-second{
margin-left: 30px;
margin-top:50px;
display:flex;
background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.picture-third{
display:flex;
margin-left: 30px;
margin-top:50px;
margin-right:315px;
background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);	
}


.title-command{
display:flex;
margin-left: 668px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.command{
display:flex;
list-style:none;
gap:30px;
}

.command>.designer{
display:flex;
margin-left: 175px;
margin-top:50px;
border-radius: 0px;
}
.igor{
display:flex;
display:block;
background:var(--primary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.designer{
text-align:center;
}
.designer-igor{
color: var(--primary-text-color);
padding-bottom:30px;
}
.demyanenko{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color:var(--primary-text-color);
}
.developer{
text-align:center;
}
.developer-olga{
color: var(--secondary-text-color);
padding-bottom:30px;
}
.repina{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color:var(--primary-text-color);
}
.marketing{
text-align:center;
}
.marketing-mykola{
color: var(--secondary-text-color);
padding-bottom:30px;
}
.tarasov{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color:var(--primary-text-color);
}
.uidesigner{
text-align:center;
}
.uidesigner-mykhailo{
color: var(--secondary-text-color);
padding-bottom:30px;
}
.yermakov{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color:var(--primary-text-color);
}
.command>.developer{
display:flex;
margin-top:50px;
border-radius: 0px;
}
.olga{
display:flex;
display:block;	
background:var(--primary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);	
}
.command>.marketing{
display:flex;
color: var(--primary-text-color);
margin-top:50px;
border-radius: 0px;
}
.mykola{
display:flex;
display:block;	
background:var(--primary-white-color);	
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.command>.uidesigner{
display:flex;
margin-top:50px;
margin-right:315px;
border-radius: 0px;
}
.mykhailo{
display:flex;
display:block;	
background:var(--primary-white-color);	
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 	
}
.text{
border:1px solid var(--text-border-color);
}
.buttons{
list-style:none;
display:flex;

}

.btn0{
display:flex;
cursor:pointer;
padding-left:25px;
padding-top:6px;
padding-bottom:6px;
padding-right:25px;
background: var(--button-background);
margin-top:-55px;
margin-left:462px;
margin-bottom:50px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
color: var(--third-text-color);
border:0px;
}
.btn1{
display:flex;
cursor:pointer;
margin-left: 8px;
padding-top:6px;
padding-left:22px;
padding-right:22px;
padding-bottom:6px;
margin-bottom:50px;
margin-top:-55px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: var(--button-background-second);
text-align: center;
letter-spacing: 0.03em;
border:0px;
}
.btn2{
display:flex;
cursor:pointer;
margin-left: 8px;
padding-top:6px;
padding-bottom:6px;
padding-left:22px;
padding-right:22px;
margin-bottom:50px;
margin-top:-55px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: var(--button-background-second);
text-align: center;
letter-spacing: 0.03em;
border:0px;
}
.btn3{
display:flex;
cursor:pointer;
margin-left: 8px;
padding-top:6px;
padding-bottom:6px;
padding-left:22px;
padding-right:22px;
margin-bottom:50px;
margin-top:-55px;
background: var(--button-background-second);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
border:0px;
}
.btn4{
display:flex;
cursor:pointer;
margin-left: 8px;
padding-top:6px;
padding-bottom:6px;
padding-left:22px;
padding-right:22px;
margin-bottom:50px;
margin-top:-55px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: var(--button-background-second);
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;	
border:0px;
}

.btn0:focus{
outline:0px;
background: var(--button-background);
box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn1:hover{
background: var(--button-background);
 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn1:focus{
outline:0px;
background: var(--button-background);
 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn2:hover{
background: var(--button-background);
 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn2:focus{
outline:0px;
background: var(--button-background);
 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn3:hover{
background: var(--button-background);
 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn3:focus{
outline:0px;
background: var(--button-background);
box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn4:hover{
background: var(--button-background);
box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn4:focus{
outline:0px;
background: var(--button-background);
box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.posters{
display:flex;
flex-wrap:wrap;
list-style:none;
margin-top:-50px;
gap:30px;
margin-left:165px;
margin-right:-265px;
}


.posters>.post-one{
display:flex;
margin-top:50px;
padding-right:0px;
margin-bottom:30px;
}

.posters>.post-second{
display:flex;
margin-top:50px;
margin-bottom:30px;
}

.posters>.post-third{
display:flex;
margin-top:50px;
margin-bottom:30px;
}

.picture-one{
display:flex;
display:block;
}

.picture-two{
display:flex;
display:block;
}
.picture-three{
display:flex;
display:block;

}
.poster-three{
display:flex;
}

.poster-one{
text-decoration:none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);	
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.poster-two{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.poster-three{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}


.technocryak{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.website{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.orlean{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:14px;
padding-right:14px;
}
.design{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.seafood{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.application{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.prime{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.market{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.boxes{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.supplement{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.inspiration{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.web{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.limited{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.picture{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.lab{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.trade{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.business{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--primary-text-color);
margin-top:35px;
padding-left:24px;
padding-right:24px;
}
.addition{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
margin-top:14px;
margin-bottom:30px;
padding-left:24px;
padding-right:24px;
}
.projects{
display:flex;
list-style:none;
gap:30px;
}
.posters>.project-first{
display:flex;
margin-top:-30px;
margin-bottom:30px;
}

.posters>.project-second{
display:flex;
margin-top:-30px;
margin-bottom:30px;
}

.posters>.project-third{
display:flex;
margin-top:-30px;
margin-bottom:30px;
}

.project-one{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.project-two{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.project-three{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}

.project-picture-one{
 display:flex;
 display:block;
}
.project-picture-two{
display:flex;
display:block; 
}
.project-picture-three{
display:flex;
display:block; 
}

.posters>.edition-first{
display:flex;
margin-top: -30px;
margin-bottom:30px;
}

.posters>.edition-second{
display:flex;
margin-top: -30px;
margin-bottom:30px;
}

.posters>.edition-third{
display:flex;
margin-top: -30px;
margin-bottom:30px;
}

.editions{
display:flex;
list-style:none;
gap:30px;
}	

.edition-one{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.edition-two{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}
.edition-three{
text-decoration:none;
background:var(--primary-white-color);
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
}

.edition-picture-one{
display:flex;
display:block; 
}
.edition-picture-two{
display:flex;
display:block;  
}
.edition-picture-three{
display:flex;
display:block; 
}
.foot-first{
display:flex;
padding-right:396px;
background: var(--footer-background);
}
.section-one{
display:flex;
flex-direction:column;	
}

.details-address{
display:flex;
padding-left:180px;
margin-top:20px;
padding-bottom:60px;
}

.logo-same{
display:flex;
margin-left: 215px;
text-decoration:none;
margin-top:60px;
padding:0px;
}
.logo-same:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);	
}
.contacts-same{
list-style:none;
}
.logo-same-part-first{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--selection-color);
}
.logo-same-part-second{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--third-text-color);
}

.address-link{
display:flex;
text-decoration:none;
font-family: 'Roboto';
font-style: normal;
line-height: 1.7;
margin-right:-70px;
/* or 171% */
letter-spacing:0.03em;
color: var(--third-text-color);
}
.address-selection{
color: var(--third-text-color);
font-style:normal;
}
.address-selection:hover{
color:var(--selection-color);
}
.address-link:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);
}
.mail-link{
display:flex;
font-family: 'Roboto';
font-style:normal;
text-decoration:none;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--contacts-footer-background);
margin-top:9px;
}
.mail-link:hover{
color:var(--selection-color);
}
.mail-link:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);
}
.phone-link{
display:flex;
font-family: 'Roboto';
font-style:normal;
text-decoration:none;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--contacts-footer-background);
margin-top:9px;	
}
.phone-link:hover{
color:var(--selection-color);
}
.phone-link:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);
}
.foot-second{
display:flex;
margin-right:-235px;
background: var(--footer-background);
}

